html {
  box-sizing: border-box;
}
*,
*:before,
*:after{
  box-sizing: inherit;
}

.invisible{
  visibility: hidden;
}

a{
  color: white;
  
}

body{
  background-color: black;
}

.saint-app{
 display: grid;
 grid-template-columns: 100%;
 grid-template-rows: 40px 80px 50px 60px 1fr 40px 20px;
 grid-template-areas:
 "search"
 "title"
 "subtitle"
 "date-title"
 "player"
 "navigator"
 "footer";
 font-family: 'Philosopher', sans-serif;
 color: white;
 max-width:600px;
 background-color: darkblue;
 margin:auto;
 border: 6px solid blue;
 border-radius: 10px;
 height: 100vh;
}
.app-search{
  grid-area: search;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 4px;
  
}
.app-search__label_date{
 font-size: 16px;
}

.app-search__label_saint{
 font-size: 16px;
 justify-self: end;
}

.player-app__title{
  grid-area: title;
  text-align: center;
  
}
.player-app__title h1{
  margin: 0;
  font-size: 3rem;
  
}

.player-app__subtitle{
  grid-area: subtitle;
  text-align: center;
 font-style: italic;
}

.player-app__subtitle h4{
  margin: 0;
}

.saint-app__date-title{
  grid-area: date-title;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  
}

.feast-widget{
  grid-area: player;
  text-align: center;
  
}
.feast__title{
  font-size: 1.6rem;
  margin: 0;
  margin-bottom: 40px;
  
}

.app-navigation{
  grid-area: navigator;
  
}

.control_button{
display: inline-block;
font-size: 2em;
margin: 10px;
border-radius:25%;
background-color: lightblue;
color: ghostwhite;
}

.player-controls{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  
}

.app-navigation__button, .player-controls__button, .track-controls__button{
 
 background-color: lightblue;
 color: black;
 
}
.track-controls__button_play{
 font-size: 6em;
 width: 50vmin;
 height:50vmin;
 max-width: 200px;
 max-height: 200px;
 border-radius:50%;
}
.player-controls__button{
  font-size: 2em;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  
}

.app-navigation__button{
 font-size: 2em;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100px;
 height: 40px;
 border-radius: 10px;
}

.track-controls__play_button{
  visibility: hidden;
}

.app-navigation{;
display: inline-grid;
grid-row-gap: 20px;
grid-template-columns: 30% 10% 20% 10% 30%;
grid-template-areas:
    "prev_button .  today_button . next_button"
}
.app-navigation__button_date_prev{
 grid-area: prev_button;
 justify-self: end;
}

.app-navigation__button_date_next{
 grid-area: next_button;
}

.app-navigation__button_date_today{
 grid-area: today_button;
 justify-self: center;
}


