/*
@font-face {
  font-family: 'Philosopher-auto';
  font-display: swap;
  src: local('Georgia'), url(https://fonts.googleapis.com/css?family=Philosopher);
}
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after{
  box-sizing: inherit;
}

.invisible{
  visibility: hidden;
}

a{
  color: white;
  
}

body{
  background-color: black;
}

.saint-app{
 display: grid;
 grid-template-columns: 100%;
 grid-template-rows: 50px 60px 50px  34px 2fr 60px 1fr 50px;
 grid-template-areas:
 "search"
 "title"
 "subtitle"
 "date-title"
 "player"
 "navigator"
 "."
 "footer";
 font-family: 'Philosopher', sans-serif;
 color: white;
 max-width:600px;
 background-color: darkblue;
 margin:auto;
 height: 100vh;
 min-height: 600px;
}
.app-search{
  grid-area: search;
  display: grid;
  background-color: #303030;
  grid-template-columns: repeat(3, 1fr);
  padding: 4px;
  
}
.app-search__label{
 font-size: 14px;
}
.app-search__button, .app-search__label::first-letter{
 font-size: 34px;
}
.app-search__button_reload{
  
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.app-search__label_saint{
 justify-self: end;
}
.app-search__input_saint{
 width: 120px;
}
.player-app__title{
  grid-area: title;
  text-align: center;
  
}
.player-app__title h1{
  margin: 0;
  font-size: 2.8rem;
  
}

.player-app__subtitle{
  grid-area: subtitle;
  text-align: center;
 font-style: italic;
}

.player-app__subtitle h4{
  margin: 0;
}

.saint-app__date-title{
  grid-area: date-title;
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
  
}

.feast-widget{
  grid-area: player;
  text-align: center;
  
}
.feast__title{
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 20px;
  
}

.app-navigation{
  grid-area: navigator;
  
}

.player-controls{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  
}

.app-navigation__button, .player-controls__button, .track-controls__button{
 
  background-color: blue;
  color: white;
 
}
.track-controls__button_play{
 font-size: 4rem;
 width: 50vmin;
 height:50vmin;
 max-width: 200px;
 max-height: 200px;
 border-radius:50%;
}
.player-controls__button{
  font-size: 2em;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  
}

.app-navigation__button{
 font-size: 2em;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 60px;
 height: 40px;
 border-radius: 10px;
}

.track-controls__play_button{
  visibility: hidden;
}

.app-navigation{;
display: inline-grid;
grid-row-gap: 10px;
grid-template-columns: 2% 28% 10% 20% 10% 28% 2%;
grid-template-areas:
    ". prev_button .  today_button . next_button ."
}
.app-navigation__button_date_prev{
 grid-area: prev_button;
 justify-self: end;
}

.app-navigation__button_date_next{
 grid-area: next_button;
}

.app-navigation__button_date_today{
 grid-area: today_button;
 justify-self: center;
}

.player-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: footer;
  background-color: #303030;
  padding: 4px;
}
.github-icon{
  text-decoration: none;
  font-size: 2rem;
  align-items: center;
  
}
