#container{
font-family: 'Philosopher', sans-serif;
 max-width:500px;
 background-color: lightblue;
 margin:auto;
 border: 6px solid navy;
 border-radius: 10px;
 min-height: 500px;
}
h1{
 text-align: center;
}
#subtitle{
 text-align: center;
 font-style: italic
}
#audio_app{
 text-align:center;
}
.player_button{
 display: inline-block;
 font-size: 3em;
 width: 100px;
 height:100px;
 margin:auto:
 margin-top: 20px;
 margin-bottom: 20px;
 background-color: blue;
 color: ghostwhite;
 border-radius:50%;
}
.control_button{
display: inline-block;
font-size: 2em;
margin: 10px;
border-radius:25%;
 background-color: blue;
 color: ghostwhite;
}
