
:root{
--spinner-size: 10;
--spinner-color: blue;
}

.spinner {
  display: inline-block;
  margin:2px;
  border: calc(var(--spinner-size) *2px) solid #f3f3f3;
  border-radius: 50%;
  border-top: calc(var(--spinner-size) *2px) solid var(--spinner-color);
  width: calc(var(--spinner-size) *10px);
  height: calc(var(--spinner-size) *10px);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#wait-layer{
position: fixed;
z-index: 1;
top:0;
width: 100vw;
height: 100vh;
background-color: transparent;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
